{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} - {{ entity_singularized }}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}

<header class="panel-heading">
    <h2> {{ entity }}</h2>
</header>
<div class="panel-body">

    <form class="form-horizontal">
        {%- for field, metadata in fields %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ field|capitalize }}</label>
                <div class="col-sm-10">

                    {%- if metadata.type in ['datetime'] %}

                        <p class="form-control-static">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</p>

                    {%- elseif metadata.type in ['date'] %}

                        <p class="form-control-static">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</p>

                    {%- elseif metadata.type in ['time'] %}

                        <p class="form-control-static">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</p>

                    {%- elseif metadata.type in ['array'] %}

                        <p class="form-control-static">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</p>

                    {%- elseif metadata.type in ['boolean'] %}

                        <p class="form-control-static">{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}<span class="label label-success">yes</span>{% else %}<span class="label label-danger">no</span>{% endif %}' }}</p>

                    {%- else %}

                        <p class="form-control-static">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</p>

                    {%- endif %}

                </div>
            </div>
        {%- endfor %}
    </form>
    <hr>
    {% set hide_edit, hide_delete, hide_new= false, false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
</div>

{{ "{% endblock %}" }}
